.myModal {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: none;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.myModalContent {
   background: #F5F1EE;
   border-radius: 16px;
   min-width: 900px;
   z-index: 3;
   cursor: default;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}

.myModal.active {
   display: -ms-grid;
   display: grid;
   place-items: center;
   z-index: 1;
}