

:root {
   --topHeader-background: #222222;
   --botHeader-background: #101010;
}

.header {
   background-color: var(--topHeader-background);
   width: 100%;
   height: 130px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   color: #fff;
   z-index: 11;
   &__modal {
      display: flex;
      line-height: 36px;
      flex-flow: column wrap;
      max-height: 550px;
      padding: 40px;
   }
   .options {
      font-size: 24px;
      transform: translateY(5px);
   }
   &__city {
      background: transparent;
      border: none;
      cursor: pointer;
      margin-right: 60px;
      color: #fff;
      &_location {
         transform: translateY(3px);
         width: 24px;
         height: 24px;
         margin-right: 5px;
      }
      &_showMore {
         width: 24px;
         height: 24px;
         transform: translateY(5px);
      }
   }
   &__delivery {
      background: transparent;
      border: none;
      cursor: pointer;
      margin-right: 85px;
      color: #fff;
      &_wrapp {
         position: fixed;
         top: 0;
         bottom: 0;
         left: 220px;
         right: 0;
         z-index: 20;
      }
      &_options {
         position: absolute;
         width: 200px;
         min-height: 130px;
         background: #5a5a5a;
         padding: 15px;
         border-radius: 10px;
         margin-top: 10px;
         transform: translateX(-20px);
         z-index: 10;
         div {
            padding: 10px;
            transition: 0.2s;
            border-radius: 8px;
            &:nth-last-child(1) {
               margin: 0;
            }
            &:hover {
               background: #444444;
            }
         }
      }
      &_icon {
         transform: translateY(3px);
         width: 24px;
         height: 24px;
         margin-right: 10px;
      }
      &_showMore {
         width: 24px;
         height: 24px;
         transform: translateY(5px);
      }
   }
   &__number {
      font-size: 44px;
      margin-right: 100px;
   }
   &__contacts {
      margin-right: 80px;
      text-align: center;
      &_title {
         font-size: 20px;
         margin-bottom: 10px;
      }
      a {
         margin-right: 10px;
      }
      a:nth-last-child(1) {
         margin: 0;
      }
   }
   &__account {
      font-size: 18px;
      transform: translateY(-30px);
      cursor: pointer; 
   }
}

.navigation {
   background-color: var(--botHeader-background);
   width: 100%;
   height: 100px;
   position: sticky;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 10;
   &__basket {
      margin-left: 170px;
      cursor: pointer;
      background: red;
      border-radius: 50%;
      padding: 5px;
      &_wrap {
         overflow-y: scroll;
         position: absolute;
         width: 100%;
         height: 88.5%;
         padding: 20px 20px 0 20px;
         &::-webkit-scrollbar {
            width: 8px;
         }
         &::-webkit-scrollbar-track {
            background: #ffffff;
         }
         &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background: #979797;
         }
         &::-webkit-scrollbar-thumb:hover {
            background: #747474;
         }
      }
      &_emptyBasket {
         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: center;
         height: 100%;
         opacity: .3;
         p {
            margin-top: 30px;
            font-size: 24px;
         }
      }
      &_buyList {
         position: absolute;
         border-radius: 20px;
         height: 600px;
         width: 500px;
         right: 17%;
         margin-top: 15px;
         box-shadow: 0 0 20px 0 #0000005d;
         background: #fff;
         cursor: default;
         .button {
            bottom: 0px;
            width: 100%;
            position: absolute;
            background: #fff;
            border-radius: 0 0 20px 20px;
            hr {
               margin: 0 0 7px 0;
            }
            button {
               font-size: 20px;
               display: flex;
               justify-content: space-around;
               border: none;
               background: red;
               color: #fff;
               padding: 13px;
               width: 95.5%;
               cursor: pointer;
               margin: 0 10px 10px 10px;
               border-radius: 30px;
               user-select: none;
            }
         }
      }
   }
   &__logo {
      font-size: 42px;
      font-weight: 600;
      margin-right: 50px;
      cursor: pointer;
      color: #fff;
   }
   .link {
      margin-right: 20px;
      letter-spacing: 1.3px;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      transition: 0.2s;
      text-decoration: none;
   }
   .link__active {
      color: red;
      margin-right: 20px;
      letter-spacing: 1.3px;
      font-size: 24px;
      cursor: pointer;
      transition: 0.2s;
      text-decoration: none;
   }
   .link:hover {
      color: rgba($color: #ffffff, $alpha: .3);
   }
}


.basket {
   margin: 25px 0;
   padding-bottom: 25px;
   border-bottom: 1px solid #0000004d;
   display: flex;
   align-items: center;
   justify-content: space-between;
   line-height: 1.4;
   .counter {
      display: flex;
      align-items: center;
      width: 140px;
      &__count {
         width: 30px;
         margin: 0 10px;
         text-align: center;
         font-weight: 600;
      }
      &__button {
         padding: 20px 15px;
         background: #d1d1d1;
         border-radius: 50%;
         cursor: pointer;
         width: 45px;
         height: 45px;
         img {
            transform: translateX(-7px) translateY(-12px);
         }
      }
      &__increment {
         content: '';
         width: 15px;
         height: 3px;
         background: #000;
      }
      &__decrement {
         content: '';
         width: 15px;
         height: 3px;
         background: #000;
         &::before {
            content: '';
            width: 15px;
            height: 3px;
            display: block;
            background: #000;
            transform: rotate(90deg);
         }
      }
   }
   .info {
      width: 150px;
   }
   &__price {
      font-size: 22px;
      font-weight: 600;
      cursor: text;
      width: 80px;
      text-align: center;
   }
   &__name {
      font-size: 22px;
      font-weight: 600;
      cursor: text;
   }
   &__description {
      font-size: 16px;
      opacity: 0.6;
      cursor: text;
   }
   &:nth-last-child(1) {
      border: none;
      margin-bottom: 0;
   }
   &:nth-child(1) {
      margin-top: 0;
   }
}


